## Problem_1: What is a database? Differentiate between SQL and NoSQL databases.

  - A database is a structured collection of data organized in a way that allows efficient storage, retrieval, and manipulation of information
  - They provide a means to store, update, and retrieve data in a reliable, secure, and scalable manner.

### SQL databases: 
  - SQL databases are also known as relational databases, and they are based on the relational model.
  - They store data in tables, where each table represents an entity, and each row in the table represents a record (instance) of that entity.
  - EG : MySQL

### NoSQL databases:
  - NoSQL databases, as the name suggests, do not use the traditional relational model for data storage.
  - They are designed to handle large volumes of unstructured or semi-structured data, offering more flexibility and scalability compared to SQL databases. 
  - NoSQL databases can be classified into different types, such as key-value stores, document stores etc.
  - EG: MongoDB

## Problem_2 :What is DDL? Explain why CREATE, DROP, ALTER, and TRUNCATE are used with an example.

### DDL stands for Data Definition Language, and it is a subset of SQL (Structured Query Language) used to define, manage, and manipulate the structure of a database and its objects.

### CREATE:
  - The CREATE statement is used to create new database objects, such as tables, views, indexes, and procedures.

EG: CREATE TABLE employees (
      id INT PRIMARY KEY,
      name VARCHAR(50),
      age INT,
      department VARCHAR(100)
     );

"In this example, we create a table named "employees" with four columns: "id," "name," "age," and "department." The "id" column is designated as the primary key, which ensures each row in the table has a unique identifier."

### DROP: 
   - The DROP statement is used to remove existing database objects from the database permanently. It allows you to delete tables, views, indexes, or other objects. 
   - EG: DROP TABLE employees;

### ALTER: 
   - The ALTER statement is used to modify the structure of an existing database object, such as adding or removing columns from a table, changing column data types, or renaming objects.
   - EG: 
   
    ALTER TABLE employees
    ADD email VARCHAR(100);

### TRUNCATE: 
   - The TRUNCATE statement is used to remove all the data from a table quickly. Unlike the DROP statement, TRUNCATE keeps the table structure intact but deletes all the rows from the table.
   - EG: TRUNCATE TABLE employees;
   
This command will delete all the rows from the "employees" table, but the table structure will remain.

### Problem_3 :What is DML? Explain INSERT, UPDATE, and DELETE with an example.

  - DML stands for Data Manipulation Language, and it is a subset of SQL (Structured Query Language) used to manipulate and work with the data stored in the database.
  - DML commands are used to perform operations like inserting new data, updating existing data, and deleting unwanted data from the database.
  
### INSERT: 
  - The INSERT statement is used to add new rows (records) into a table. It allows you to specify the values for each column or a subset of columns for the new row to be inserted. 
  - EG:
                
        INSERT INTO employees (id, name, age, department)
        VALUES (1, 'John Doe', 30, 'Engineering');
        
### UPDATE:
  - The UPDATE statement is used to modify existing records in a table. It allows you to change the values of one or more columns in one or multiple rows based on specified conditions. 
  - EG:
  
        UPDATE employees
        SET department = 'Human Resources'
        WHERE id = 1;

### DELETE:
  - The DELETE statement is used to remove one or more rows from a table based on specified conditions. It allows you to selectively remove data from a table.
  - EG :
  
         DELETE FROM employees
         WHERE id = 1;

## Problem_4 : What is DQL? Explain SELECT with an example.

  - DQL stands for Data Query Language, and it is a subset of SQL (Structured Query Language) used to retrieve data from a database.
  - DQL commands primarily consist of the SELECT statement, which allows you to query the database and retrieve specific data from one or more tables.
  - I'm Taking an example to explain the SELECT
  
### Consider a table named "Employee" with following Attributes:
  - id
  - name 
  - age 
  - department

### If i execute this :
  - SELECT * FROM Employee;  -->
This will fetch all the rows and columns from the Table "Employee"

### If i execute query with specific column:
  - SELECT id,name FROM Employee;  -->
This will only retrieve "id" and "name" columns from Employee

## Problem_5 : Explain Primary Key and Foreign Key.

  - These are the two important conceot of Relational databases, With the help of primary key and foreign key we are able to establish realtionship between tables
  
### Primary Key:
   - A Primary Key is a unique identifier for each record (row) in a table. It ensures that each row in the table can be uniquely identified.
   - There can be only one primary key per table, and its values cannot be NULL.
   
### Foreign Key:
   - A Foreign Key is a column or a set of columns in a table that refers to the Primary Key of another table.
   - It establishes a relationship between two tables, allowing data in one table to reference data in another table.
   - The values in the foreign key column must match values in the primary key column of the related table or be NULL.

## Problem_6: Write a python code to connect MySQL to python. Explain the cursor() and execute() method.

### To connect python with MySQL we need to install MySQL driver, such as "mysql-connector-python," which allows Python to communicate with the MySQL database.
  - pip install mysql-connector-python

In [ ]:
import mysql.connector

# Replace these values with your MySQL server credentials
hostname = "your_host"
username = "your_username"
password = "your_password"
database = "your_database"

try:
    # Establish the connection to the MySQL server
    connection=mysql.connector.connect(
        host=hostname,
        user=username,
        password=password,
        database=database
    )
    
    # Create a cursor object to interact with the database.
    cursor= connection.cursor()
    
    # Execute the simple sql query
    query = "SELECT * FROM Employee;"
    cursor.execute(query)

    # Fetch and print the result
    row=cursor.fetchall()
    for row in rows:
        print(row)
    
    # Close the Cursor and Connection
    cursor.close()
    connection.close()
    
except mysql.connector.Error as err:
    print("Error:", err)

### cursor(): 
  - The cursor() method is used to create a cursor object, which is used to interact with the database.
  - The cursor allows you to execute SQL queries, fetch query results, and perform other operations.

### execute():
  - The execute() method is used to execute SQL queries on the database through the cursor object.
  - It takes an SQL query string as an argument and sends it to the database for execution.
  - After executing the query, the cursor holds the results, and you can fetch the data using methods like "fetchall()", "fetchone()", or "fetchmany()".

## Problem_7: Give the order of execution of SQL clauses in an SQL query.

### The order of execution of sql is as follows:
  - FROM: The FROM clause specifies the table or tables from which the data will be retrieved. It defines the data source for the query.
  - WHERE: The WHERE clause filters the data based on specified conditions.
  - GROUP BY: The GROUP BY clause is used to group rows that share a common value into summary rows.
  - HAVING: The HAVING clause is used in conjunction with GROUP BY to filter the grouped data based on specified conditions. It acts as a filter for the grouped data.
  - SELECT: The SELECT clause specifies the columns to be included in the query result. It retrieves the desired data from the database.
  - ORDER BY: The ORDER BY clause is used to sort the query results in ascending or descending order based on specified columns or expressions.